<script src="{{ base }}/assets/js/jquery.min.js"></script>

{%- if extra_script.size > 0 -%}
    <script>{{ extra_script }}</script>
{%- endif -%}

<script src="{{ base }}/assets/js/theme{% if site.debug.dist != false %}.min{% endif %}.js"></script>
<div class="social-share"></div>
<script src="https://cdn.bootcdn.net/ajax/libs/social-share.js/1.0.9/js/share.min.js"></script>
